@import "../01-base/_foundation";

main {
    @include centerItems();
    display: flex;
    height: 100vh;
    background-image: url("../../../images/landing-bg.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero {
    @include centerItems();
    width: 900px;
    height: 600px;
    flex-shrink: 0;
    position: absolute;

    .forgotPassword {
        background-color: white;
        border-radius: 50px;
        position: absolute;
        display: flex; 

    
    
        .right-signIn {
            @include centerItems();
            text-align: center;
            width: 40%;
            background-color: #FBAF41;
            color: black;
            border-radius: 0px 50px 50px 0px;
            transition: 0.7s ease-in-out;
            
    
            .sao-logo {
                width: 25%;
            }
         
    
            .contents-right-signIn {
                margin-top: 70px;
            }
    
            .welcomeTitle {
                font-weight: bold;
                line-height: 30px;
                
            }
    
            .title-tagline {
                margin-top: 40px;
            }
    
            .rdr-signUp {
                color: white;
                line-height: 10px;
                font-size: 13px;
                font-style: italic;
                margin-top: 125px;
            
                .btn-signUp {
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 150px;
                    color: white;
                }
    
                .btn-signUp:hover {
                    background-color: white;
                    color: #FBAF41;
                }
            }
        }
    } // end of sign-in css


    .signIn, .signUp {
        opacity: 0  ;
        visibility: hidden;
        display: flex; 
        transition: visibility 1s ease;
    }
    
    .signIn.active, .signUp.active {
        opacity: 1;
        visibility: visible;
    }

    // right-signIn
    .right-signIn.active {
        border-radius: 50px 0px 0px 50px;
        transform: translate(-620px, 0px);
    }

    .left-signIn.active {
        transform: translateX(250px);
    }
}